:root {
    --main-bg-color: rgb(34, 40, 49);
    --lighter-gray: rgb(57, 62, 70);
    --orange-accent: rgb(253, 112, 20);
    --off-white: rgb(238, 238, 238);
    --softer-white: #bbbbbb;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

a { 
    text-decoration: none;
    color: var(--off-white);
}

body {
    background-color: var(--main-bg-color);
    color: var(--off-white);
}