.hamburger {
    fill: var(--off-white);
}

.logo {
    font-size: 32px;
    font-family: 'Righteous', 'Inter', sans-serif;
}

.social-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin: 2rem 0;

    i {
        font-size: 2.4rem;
    }
}

.social-container a:hover {
    color: var(--orange-accent);
}

.cta-button {
    border: 1px solid var(--orange-accent);
    padding: 1.6rem 3rem;
    font-size: 1.6rem;
    position: relative;
}
//working on button hover states rn
.cta-button:hover{
    background-color: var(--orange-accent);
    transition: 0.2s;
}


.project-links {
    display: flex;
    gap: 2rem;
}

%project-base {
    display: flex;
    // margin: 2rem 0;
    align-items: center;
    flex-direction: column;
}

%project-text {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    height: 100%;
    justify-content: center;
    background-color: var(--darker-gray);
    border-radius: 8px 8px 0 0;
    border-top: 12px solid var(--blue-gray);
}

.full-project {
    @extend %project-base;

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .full-project-text{
        @extend %project-text;

        @media screen and (min-width: 1000px) {
            border-left: 12px solid var(--blue-gray);
            border-top: none;
            padding: 0 4rem;
        }
    }

    .full-project-image {
        flex-basis: 40%;
        border-radius: 0 0 8px 8px;
        max-height: 275px;
        width: 100%;
        @media screen and (min-width: 1000px) {
            border-radius: 0 8px 8px 0; 
            height: 350px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 0 0 8px 8px; 
            object-fit: cover;
            object-position: 50% 0%;
            @media screen and (min-width: 1000px) {
                border-radius: 0 8px 8px 0; 
            }
        }
    }
}

.about-text {
    @extend %project-text;
}

.about-skills {
    @extend %project-text;
    border-top: 12px solid var(--orange-accent);
}

.mini-project {
    @extend %project-base;
    margin: 1rem 0;
    height: 200px;
    width: 100%;

    .mini-project-text{
        @extend %project-text;
        width: 100%;
        min-height: 100%;
        // justify-content: space-between;
    }
}

.project-cta {
    color: var(--off-white);
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
    font-size: 1.4rem;
    position: relative;
}

.project-cta:hover {
    color: var(--orange-accent);
    transition: 0.3s;
}

#view-more-projects {
    background-color: transparent;
    color: var(--off-white);
    cursor: pointer;
}
#view-more-projects:hover {
    background-color: var(--orange-accent);
    transition: 0.2s;
}