body {
    // margin: 0 10%;
    // border-left: 1px solid var(--lighter-gray);
    // border-right: 1px solid var(--lighter-gray);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100px;
    background-color: var(--darker-gray);
}   

main {
    padding: 0 5%;
    margin: 0 10%;
    border-left: 1px solid var(--lighter-gray);
    border-right: 1px solid var(--lighter-gray);
}

.hidden {
    display: none;
}

.hero-container {
    display: flex;
    height: calc(100vh - (5vh + 100px));
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
}