body {
    padding: 0 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
}

.hidden {
    display: none;
}

.hero {
    position: absolute;
    top: 35%;
    width: 80%;

}