---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title = "Austin Labador - Software Developer | About Me">
    <body>
        <Header />
        <main>
			<h2 class="main-title">About Me</h2>
			<section class="about-section">
                <div class="image-container">
                    <img id="about-img" src="/me.jpg" alt="">
                </div>
                <div class="about-details">
                    <p>I'm a Los Angeles-based developer. </p>
                    <p>My professional background started in design, making graphics and 
                        digital assets for student orgs. I majored in Cognitive Science/HCI, 
                        focusing on user experience and user research.
                    </p>
                    <p>After graduating, I transitioned into a digital marketing role, 
                        where I had the opportunity to build and design websites using a CMS. 
                        During this time, I became more interested in the technology behind 
                        websites, and was eager to learn more about how things worked. 
                        I started learning some HTML and CSS to offer customization on websites, which 
                        had been something highly requested by our clients.
                    </p>
                    <p>The ability to help people and solve challenges with code drove me forward to continue with my self-taught journey. I'm always looking to learn new tech and grow my skills. </p>
                </div>
            </section>
        </main>
    </body>
</Layout>

<style>
    .about-section {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 1rem;
        line-height: 2rem;
        padding: 1rem;
        justify-items: center;
    }
    #about-img {
        width: 100%;
        max-width: 400px;
    }

    @media screen and (min-width: 720px) {
        .about-section{
            grid-template-columns: 60% 40%;
            align-items: center;
        }
        .about-details {
            grid-column: 1/2;
            grid-row: 1;
            width: 85%;
        }
        .image-container {
            grid-column: 2/3;
            grid-row: 1;
        }
    }
</style>