---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title = "Austin Labador - Software Developer | Designs">
    <body>
        <Header />
        <main>
			<h2 class="main-title">Design</h2>
			<section class="link-card-grid">
                <Card 
					title="T1 Pal" 
					href="https://austinlabador.wordpress.com/2023/04/13/t1-pal/"
					image="/img/t1pal.png"
					body="Improving setup and ease of use for a diabetes management app, through collaborative research with open source CGM users.",
                    tech={["UI Design", "UX Research", "Mobile Design", "Figma"]}
				/>
                <Card 
					title="Valorant Tactics" 
					href="https://austinlabador.wordpress.com/2023/04/13/valorant-tactics/"
					image="/img/valorant-tactics.png"
					body="A strategy and statistics app for Valorant, a tactical FPS created by Riot Games.",
                    tech={["UI Design", "Branding", "Figma"]}
				/>
                <Card 
					title="Wish Redesign" 
					href="https://austinlabador.wordpress.com/2023/04/13/startups-expectations-vs-reality/"
					image="/img/wish-redesign.png"
					body="Designing to reduce interruptions in the purchasing process for Wish, an e-commerce platform.",
                    tech={["UX Research", "UI Design", "Figma"]}
				/>
            </section>
        </main>
    </body>
</Layout>

