---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<body>
		<Header />
		<main>
			<section class="link-card-grid">
				<Card 
					title="WeWatch" 
					href="https://github.com/alabador/wewatch"
					image="/img/wewatch.jpeg"
					body="test"
					tech={["Node.js", "Express.js", "MongoDB", "MVC Pattern"]}
				/>
				<Card 
					title="Goatchinanggo Landing Page" 
					href="https://github.com/alabador/goatchinanggo"
					image="/img/goatchinanggo.png"
					body="test text"
					tech={["Astro", "TypeScript", "CSS"]}
				/>
				<Card 
					title="Nutrifax" 
					href="https://github.com/alabador/nutrifax"
					image="/img/nutrifax.png"
					body="test text"
					tech={["React.js", "TypeScript"]}
				/>
			</section>
		</main>
	</body>
</Layout>

<style>
	body {
		display: grid;
	}
	main {
		width: 100%;
		padding: 2rem;
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
		width: 100%;
	}
	@media screen and (min-width: 1200px) {
		body {
			grid-template-columns: 35% 65%;
		}
	}
</style>
