---
import '../styles/global.css'

export interface Props {
	title: string;
	image: string;
	body: string;
	href: string;
}

const { title, href, image, body } = Astro.props;
---

<article class="project-card">
	<a class="project-card-link" href={href}>
		<div class="project-card-text">
			<h2>{title}</h2>
			<p>{body}</p>
		</div>
		<div class="project-card-image">
			<img src={image} alt="portfolio image">
		</div>
	</a>
</article>

<style>
	.project-card {
		padding: 1rem;
		height: 200px;
		background-color: var(--secondary);
		background-image: none;
		border-radius: 0.6rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	.project-card-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		text-decoration: none;
		line-height: 1.4;
		/* padding: 1rem 1.3rem; */
		border-radius: 0.35rem;
		color: #111;
		background-color: white;
		opacity: 0.8;
	}

	.project-card-image img {
		object-fit: cover;
		height: 100%;
		width: 200px; 
	}


</style>
