---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import SocialLinks from './SocialLinks.astro';

---

<section class="hero">
    <h3>Hey there!</h3>
    <h1>I'm <span class="title-name">Austin Labador</span>, a full-stack developer.</h1>
    <SocialLinks />
    <p class="hero-p">I'm a Los Angeles-based developer with a drive for problem solving, combining techinal expertise with a user-centric approach to create visually appealing and intuitive digital experiences.</p>
</section>

<style>
    .hero {
        padding-bottom: 1.5rem;
        background-color: var(--background);
    }
    .hero h3 {
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        color: var(--tertiary);
    }
    .title-name {
        color: var(--highlight);
    }
    .hero h1 {
        margin: 0 0 2rem;
        padding: 0;
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--headline);
    }
    .hero-p {
        font-weight: 400;
        font-size: 1.2rem;
        color: var(--paragraph);
    }
</style>