---
import '../styles/global.css'
import Tech from './Tech.astro';
---

<section class="tech-stack">
    <Tech tech="JavaScript" icon="fa-brands fa-js" />
    <Tech tech="TypeScript" icon="fa-solid fa-keyboard" />
    <Tech tech="React.js" icon="fa-brands fa-react" />
    <Tech tech="Node.js" icon="fa-brands fa-node" />
    <Tech tech="MongoDB" icon="fa-solid fa-database" />
    <Tech tech="CSS/Tailwind/SASS" icon="fa-brands fa-css3-alt" />
</section>

<style>
    .tech-stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
</style>