---
import '../styles/global.css'

interface Tech {
    tech: string;
    icon: string;
}

const {tech, icon} = Astro.props;
---

<div class="tech-square">
    <i class={icon}></i>
    <p>{tech}</p>
</div>

<style>
    .tech-square{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tech-square i {
        font-size: 1.4rem;
    }

    .tech-square p {
        text-align: center;
    }
</style>