@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.fa-brands {
    font-size: 1.6rem;
}

.skill {
    font-size: 3rem;
}

.project-dark {
    border: 1px solid  
}

.hidden-projects {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: ease-in-out;
}

.hidden-projects.active {
    position: static;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index: 0;
}
