@tailwind base;
@tailwind components;
@tailwind utilities;

.fa-brands {
    font-size: 1.6rem;
}

.skill {
    font-size: 3rem;
}

.project-dark {
    border: 1px solid  
}

.project-light {
    
}

.gen-container{
    display: inline-block;
    margin: 1rem 0;
}

.hero-gen {
    color: var(--orange-accent);
    padding: 0 .4rem 0 0;

    overflow: hidden;
    border-right: .15rem solid white;
    white-space: nowrap;
    width: 0;
    animation: 
        typing 2s steps(16, end) forwards,
        /* typing 2s steps(16, end) reverse, */
        blink .8s infinite;
        /* animation-iteration-count: infinite; */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: white; }
}